doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title emojidex-coffee
    meta content="" name="description"
    meta content="width=device-width" name="viewport"

    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    script src="js/emojidex.js"

    link href="../src/lib/At.js/dist/css/jquery.atwho.css" rel="stylesheet"
    link href="css/bootstrap_and_override.css" rel="stylesheet"
    link href="css/emojidex.css" rel="stylesheet"

    coffee:
      $(document).ready ->
        $(".emojidex_replace").emojidex
          path_img: "../dist/img/utf"
          emojiarea:
            plaintext: $(".emojidex-plaintext") #emojidex_plaintext
            #wysiwyg: $(".emojidex-wysiwyg") #emojidex_wysiwyg
            #rawtext: $('.emojidex-rawtext') //emojidex_rawtext
            #emojidex #all on (wysiwyg + controls)
            #emojidex_controls #button and controls are added
            #emojidex_wysiwyg #wysiwyg editor mode (controls not enabled by default, :->search enabled)
            #emojidex_plaintext #raw text, no graphics

  body
    h1 emojidex-coffee Example
    .example
      h2 Emojidex replace
      .emojidex_replace
        | 🛅😄❤😡💌❤😈👍❤
        | \:octopus::boar::frog::hand_salute::tes :virgo:
    .example
      h2 Plain-Text
      form
        textarea.emojidex-plaintext rows="5"  Hello :neckbeard:
    .example
      h2 ContentEditable
      .emojidex-wysiwyg contenteditable="true"
        | Hello :neckbeard:
