// jquery-ui --------
@import '../../src/vendor/jquery-ui-1.12.1.custom/jquery-ui.min';
// @import 'jquery-ui';

// bootstrap --------
// Core variables and mixins
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Reset and dependencies
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

// Core CSS
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

// Components
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';

// Utility classes
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';

.emojidex-ui-dialog {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 10px;
  margin-bottom: 5px;
  line-height: unset;
  .ui-dialog-title {
    a > img {
      width: 116px;
      height: 27px;
      margin: 0;
      padding: 0;
    }
  }
}

.ui-dialog .ui-dialog-content {
  height: auto !important;
}
.ui-widget-header {
  border: none;
  .btn.btn-default[aria-label=Close] {
    border-radius: 50px;
    width: 27px;
    height: 27px;
  }
}
#emojidex-dialog-content {
  padding: 5px 10px 10px;
  float: left;
  [class*=-pagination] {
    height: 35px;
    margin-top: 10px;
    ul.pagination {
      margin: 0px;
      .palette-pager {
        cursor: pointer;
      }
    }
    #sort-selector {
      width: 128px;
      margin-left: -128px;
    }
  }
  .emoji-btn {
    border-radius: 4px;
    padding: 5px;
    margin: 2px;

    img {
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 0;
    }
  }
  hr {
    margin-top: 8px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
  }
}

.search-emoji-list {
  margin-top: 10px;
  height: auto;
}

.emjdx-search {
  color: #888
}
.emjdx-user {
  color: #888
}
.emjdx-all {
  color: #999
}
.emjdx-abstract {
  color: #f76e6e
}
.emjdx-cosmos {
  color: #f7b36e
}
.emjdx-faces {
  color: #f7d56e
}
.emjdx-food {
  color: #b3f76e
}
.emjdx-gestures {
  color: #6ef76e
}
.emjdx-nature {
  color: #6ef7b3
}
.emjdx-objects {
  color: #6ef7f7
}
.emjdx-people {
  color: #6eb3f7
}
.emjdx-places {
  color: #6e6ef7
}
.emjdx-symbols {
  color: #b36ef7
}
.emjdx-tools {
  color: #f76ef7
}
.emjdx-transportation {
  color: #f76eb3
}

.nav.nav-pills {
  float: none;
  li {
    a {
      padding: 3px 2px 1px 2px;
      font-size: 25px;
      text-decoration: none;
      font-family: $font-family-base;
      line-height: 1;
      height: auto;
    }
    &.active {
      a {
        background-color: #ddd;
      }
    }
  }
}

.pagination-container {
  position: absolute;
  bottom: 10px;
  width: 480px;
}

.emojidex-category-name {
  font-size: 20px;
  font-weight: bold;
  margin: 19px 0px;
  &:before {
    margin-right: 4px;
  }
}

#follow-following, #follow-followers {
  .users {
    .btn {
      margin: 2px;
    }
  }

  .user-info {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    margin-top: -36px;
    display: none;
    width: 100%;
    height: 327px;
    border-radius: 4px;

    .user-name {
      float: left;
      line-height: 22px;
      margin-left: 8px;
      padding-left: 12px;
      border-left: 1px #ddd solid;
    }

    .btn-close {
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
      float: left;
      cursor: pointer;
      i {
        color: #ddd;
        font-size: 20px;
        line-height: 20px;
      }
      &:hover {
        i {
          color: #bbb;
        }
      }
    }

    .pagination-container {
      bottom: 0px;
    }

    &.on {
      display: block;
    }
  }
}
