$size: 5px;

.mt-xs{
  margin-top: $size / 2;
}
.mt-s{
  margin-top: $size * 1;
}
.mt-m{
  margin-top: $size * 2;
}
.mt-l{
  margin-top: $size * 3;
}
.mt-xl{
  margin-top: $size * 4;
}

.mr-xs{
  margin-right: $size / 2;
}
.mr-s{
  margin-right: $size * 1;
}
.mr-m{
  margin-right: $size * 2;
}
.mr-l{
  margin-right: $size * 3;
}
.mr-xl{
  margin-right: $size * 4;
}

.mb-xs{
  margin-bottom: $size / 2;
}
.mb-s{
  margin-bottom: $size * 1;
}
.mb-m{
  margin-bottom: $size * 2;
}
.mb-l{
  margin-bottom: $size * 3;
}
.mb-xl{
  margin-bottom: $size * 4;
}

.ml-xs{
  margin-left: $size / 2;
}
.ml-s{
  margin-left: $size * 1;
}
.ml-m{
  margin-left: $size * 2;
}
.ml-l{
  margin-left: $size * 3;
}
.ml-xl{
  margin-left: $size * 4;
}


.pt-xs{
  padding-top: $size / 2;
}
.pt-s{
  padding-top: $size * 1;
}
.pt-m{
  padding-top: $size * 2;
}
.pt-l{
  padding-top: $size * 3;
}
.pt-xl{
  padding-top: $size * 4;
}

.pr-xs{
  padding-right: $size / 2;
}
.pr-s{
  padding-right: $size * 1;
}
.pr-m{
  padding-right: $size * 2;
}
.pr-l{
  padding-right: $size * 3;
}
.pr-xl{
  padding-right: $size * 4;
}

.pb-xs{
  padding-bottom: $size / 2;
}
.pb-s{
  padding-bottom: $size * 1;
}
.pb-m{
  padding-bottom: $size * 2;
}
.pb-l{
  padding-bottom: $size * 3;
}
.pb-xl{
  padding-bottom: $size * 4;
}

.pl-xs{
  padding-left: $size / 2;
}
.pl-s{
  padding-left: $size * 1;
}
.pl-m{
  padding-left: $size * 2;
}
.pl-l{
  padding-left: $size * 3;
}
.pl-xl{
  padding-left: $size * 4;
}
