@import '../../bower_components/At.js/dist/css/jquery.atwho.min.css';

@mixin emoji {
  display: inline-block;
  vertical-align: bottom;
  width: 1.35em;
  height: 1.35em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.emojidex-loading-icon {
  @include emoji;
  background-image: url('../img/loading1.gif');
}

img[class*="emojidex-"] {
  @include emoji;
}
