#emojidex-dialog {
  .category-emoji-list {
    overflow-y: auto;
    max-height: 256px;
  }
  .emoji-btn {
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #797979;
  }
}

.search-pagination {
  .pallet-pager {
    // float: left;
    &:hover {
      cursor: pointer;
    }
  }
}

.search-emoji-list {
  margin-top: 10px;
  height: auto;
}

.pallet-pager {
  cursor: pointer;
}
