.window.emoji-pallet {
  background-color: white;
  .window-body {
    overflow-y: auto;
    overflow: hidden;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
  border-top: 1px solid #797979
}

.emoji-btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.search-pagination {
  .pallet-pager {
    // float: left;
    &:hover {
      cursor: pointer;
    }
  }
}

.search-emoji-list {
  margin-top: 10px;
  height: auto;
}
