$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import 'fix-space';
@import 'emojidex-ui-icon';
@import 'emojidex_autocomplete';

@mixin emoji {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  top: -0.1em;
  background-size: 100%;
  background-repeat: no-repeat;
}

img.emojidex-emoji {
  @include emoji;
}

.zwj-emoji img.emojidex-emoji {
  margin-left: -1.2em;
  &:first-child {
    margin-left: 0;
  }
}

.emojidex-loading-icon {
  @include emoji;
  background-image: url('https://cdn.emojidex.com/scripts/image/emojidex-web_loading1.gif');
}

#emojidex-emoji-palette {
  @import "emoji_palette";
}

.emojidex-palette-button {
  opacity: 0;
  position: absolute;
  height: 25px;
  width: 25px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  &:hover {
    opacity: 1;
  }
}
.with-emojidex-palette {
  &:hover, &:focus {
    & + .emojidex-palette-button {
      opacity: 1;
    }
  }
}

#emojidex-canvas {
  position: absolute;
  left: 0;
}

.emojidex-scene {
  @include emoji;
  top: 0em;
}
