@import 'fix-space';
@import 'emojidex-ui-icon';

@mixin emoji {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  top: -0.1em;
  background-size: 100%;
  background-repeat: no-repeat;
}

img.emojidex-emoji {
  @include emoji;
}

.emojidex-loading-icon {
  @include emoji;
  background-image: url('http://assets.emojidex.com/scripts/image/emojidex-web_loading1.gif');
}

@import "emoji_palette"
