@import 'fix-space';

@mixin emoji {
  display: inline-block;
  vertical-align: bottom;
  width: 1.35em;
  height: 1.35em;
  background-size: 100%;
  background-repeat: no-repeat;
}

img.emojidex-emoji {
  @include emoji;
}

.emojidex-loading-icon {
  @include emoji;
  background-image: url('http://assets.emojidex.com/scripts/image/emojidex-web_loading1.gif');
}

.ui-dialog {
  img[class*="emojidex-"] {
    @include emoji;
  }

  // bootstrap --------
  // Core variables and mixins
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

  // Reset and dependencies
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

  // Core CSS
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

  // Components
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination';
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';

  // Utility classes
  @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';

  .nav {
    li {
      a {
        text-decoration: none;
      }
    }
  }

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}
